* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: monospace;
}

.intro {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro p {
  color: #c70417;
  font-size: 1.5rem;
  padding: 5vh;
  margin: 8vh 12vw 4vh 12vw;
  line-height: 5vh;
  text-align: center;
}

p {
  color: #c70417;
  font-size: 1.5rem;
  text-align: center;
  line-height: 5vh;
  margin: 1vh 20vh 5vh 20vh;
}

a {
  font-size: 1.5rem;
  color: #c70417;
  margin: 1vh 5vh 5vh 5vh;
}

#link {
  margin: 0;
}

hr {
  border:solid 1px red;
  width: 90%;
  height: 1px;
}

#top {
  margin-top: 15vh;
}
#bottom {
  margin-bottom: 15vh;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  margin: 5vh 0 0 5vh;
  height: 90vh;
  width: 70vw;
}

.mainContainer img {
  width: 40vw;
  max-height: 80vh;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1vw;
  width: 80vw;
}
.gridContainer img {
  object-fit: cover;
  width: 100%;
  height: 30vh;
}

iframe {
  margin: 5vh 0 0 0;
  width: 40vw;
  height: 40vh;
}

#end {
  height: 100vh;
  width: 100vw;
}
